@media(max-widht: 786px){
    .card{
        margin: 30px 0px;
        height: auto;
    }
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../Fonts/Comfortaa-Regular.ttf);
}
.first{
    background-image: url(../img/FirstBG.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        text-align: center;
        height: auto;
}

.link-header:hover{
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-size: 12pt;
  font-family: 'Comfortaa', 'cursive';
    color: wheat;
}
.link-header{
    font-family: 'Comfortaa', 'cursive';
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    font-size: 12pt;
    color: white;
}
.IP{
    color: white;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 20px;
}

.first-text{
    margin-top: 30%;
    color: rgb(252, 239, 239);
    padding-bottom: 20%;
}
.knopka{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-bottom: 100px;
}
nav{
    
    text-align: center;
    width: 100%;
    background-color: rgb(27, 27, 27);
  }
  .btn-warning{
      margin-top: 30px;
  }
  .more-text{
      color: rgb(255, 255, 255);
      font-size: 16pt;
  }
.card-body{
    text-align: center;
}
.card img{
    height: auto;
    width: 100%;
}
.form-btn{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.input-text{
    text-align: center;
    margin-top: 40px;
}
label{
    margin: 20px 0px;
    font-family: 'Comfortaa', 'cursive';
}
.Services{
    margin-top: 20px;
}
.about-us{
    font-size: 16pt;
    font-family: 'Comfortaa', 'cursive';
    margin: 30px 0px;
}

.orange-back {
    width: auto;
    margin-top: 100px;
    background-color: #ffc155;
    font-family: 'Comfortaa', 'cursive';
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .section-1,
  .section-2,
  .section-3,
  .section-4 {
      height: 200px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: whitesmoke;
  }
  .section-1 img,
  .section-2 img,
  .section-3 img,
  .section-4 img {
    border-radius: 100px;
    margin-right: 10px;
  }
  .section-1 span,
  .section-2 span,
  .section-3 span,
  .section-4 span {
    font-size: 10pt;
  }
  .section-1 p,
  .section-2 p,
  .section-3 p,
  .section-4 p {
    display: inline-block;
  }
  .section-1 .twop,
  .section-2 .twop,
  .section-3 .twop,
  .section-4 .twop {
    font-size: 12pt;
    font-weight: lighter;
  }
  .section-1 .onep,
  .section-2 .onep,
  .section-3 .onep,
  .section-4 .onep {
    font-size: 20pt;
    color: #ffc155;
    display: inline-block;
  }
  .main-text-last{
     text-align: center;
     color: azure;
     margin-bottom: 30px;
  }
  footer{
      display: inline-block;
      font-size: 16pt;
      font-family: 'Comfortaa', 'cursive';
      background-color: rgb(51, 51, 51);
      width: 100%;
      color: white;
      text-align: center;
      padding-top: 20px;
    }
  